<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>石竹运动</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- In-lining styles to avoid needing a separate .css file -->
    <style>
        hr {
            border-color: #cccccc;
            margin: 0;
        }

        .no-margins {
            margin: 0px;
        }

        .with-margins {
            margin: 10px;
        }

        .col-centered {
            float: none;
            margin: 0 auto;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>


<body>
{% block body %}
    <hr class="no-margins"/>

    <div id="main-div" class="with-margins">
        {# One-time system messages called Flash messages #}
        {% block flash_messages %}
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category=='error' %}
                            {% set category='danger' %}
                        {% endif %}
                        <div class="alert alert-{{ category }}">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}
            {%- endwith %}
        {% endblock %}

        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-6 col-lg-5 col-centered">
                    {% from "flask_user/_macros.html" import render_field, render_submit_field %}
                    <h1>重置密码</h1>

                    <form action="" method="POST" class="form" role="form">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.new_password, tabindex=10) }}
                        {% if user_manager.enable_retype_password %}
                            {{ render_field(form.retype_password, tabindex=20) }}
                        {% endif %}
                        {{ render_submit_field(form.submit, tabindex=90) }}
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- Bootstrap -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
