<!DOCTYPE html>
<html>
<head>
    {% include "frontend/head.html" %}
    <link href="static/css/frontend/lib/jquery.toastmessage.css" type="text/css" rel="stylesheet">
    <link href="static/css/frontend/lib/date_input.css" type="text/css" rel="stylesheet">
    <link href="static/css/frontend/src/main.css" type="text/css" rel="stylesheet">
    <link href="static/css/frontend/src/icon.css" type="text/css" rel="stylesheet">
    <link href="static/css/frontend/src/list.css" type="text/css" rel="stylesheet">
    <script>
        var pageName="competition";
        var currentUserId="{{current_user.id}}";
    </script>
</head>
<body>
<div class="container">

    {% include "frontend/header.html" %}

    <div class="section" style="width:70%;margin:30px auto 0 auto">

        <form class="hForm" id="myForm" action="user/competitions/apply-challenge" method="post">
                <input name="athletic_item_id" type="hidden" value="{{p1_team.athletic_item_id}}">
                <input name="team_num" type="hidden" value="2">
                <div class="vsInfo">
                    <div class="player">
                        <a href="user/teams/{{p1_team.id}}">
                            <img class="thumb widthAll" src="{{p1_team.logo}}">
                        </a>
                        <p class="name tColor1">{{p1_team.name}}</p>
                        <input type="hidden" name="p1" value="{{p1_team.id}}">
                    </div>
                    <div class="vs">
                        <img src="static/images/frontend/app/vs.png">
                    </div>
                    <div class="player">
                        <a href="user/teams/{{p2_team.id}}">
                            <img class="thumb  widthAll" src="{{p2_team.logo}}">
                        </a>
                        <p class="name tColor1">{{p2_team.name}}</p>
                        <input type="hidden" name="p2" value="{{p2_team.id}}">
                    </div>
                </div>

                <div class="formRow" style="margin-top: 30px;">
                    <label class="formLabel">场馆*:</label>
                    <input class="formInput" type="text" name="site">
                </div>
                <div class="formRow">
                    <label class="formLabel">比赛时间*:</label>
                    <input class="formInput" type="text" id="date" name="date_started">
                </div>
                <!--<div class="formRow">
                    <label class="formLabel">轮次:</label>
                    <input  class="formInput" type="text" name="round">
                </div>
                <div class="formRow">
                    <label class="formLabel">场次:</label>
                    <input  class="formInput" type="text" name="sn">
                </div>-->
                <div class="formRow">
                    <label class="formLabel">公证人:</label>
                    <input  class="formInput" type="text" name="notary_name" id="search1">
                    <input type="hidden" name="notary_id" id="notary">
                </div>
                <div class="formRow">
                    <label class="formLabel">裁判:</label>
                    <input  class="formInput" type="text" name="referee_name" id="search2">
                    <input type="hidden" name="referee_id" id="referee">
                </div>
                <input type="submit" value="提交" class="btn centerBtn">
            </form>
    </div>

    {% include "frontend/footer.html" %}
</div>

{% include "frontend/loading.html" %}

<script src="static/js/frontend/lib/jquery-1.11.1.min.js"></script>
<script src="static/js/frontend/lib/jquery.marcopolo.min.js"></script>
<script src="static/js/frontend/lib/jquery.serialize-object.min.js"></script>
<script src="static/js/frontend/lib/jquery.date_input.js"></script>
<script src="static/js/frontend/lib/juicer-min.js"></script>
<script src="static/lang/frontend/jquery.date_input.zh_CN.js"></script>
<script src="static/js/frontend/lib/jquery.validate.min.js"></script>
<script src="static/js/frontend/lib/jquery.toastmessage.js"></script>
<script src="static/js/frontend/src/config.js"></script>
<script src="static/js/frontend/src/functions.js"></script>
<script src="static/js/frontend/src/challenge.js"></script>
</body>
</html>