<div class="footer">
    <ul class="list1">
        <li>
            <h3 class="title">App二维码</h3>
            <img src="static/images/frontend/app/erweima.jpg">
            <p class="intro">关于二维码的说明</p>
        </li>
        <li>
            <h3 class="title">联系我们/Contact Us</h3>
            <p class="txt">邮箱：shizs@shizs.com</p>
            <p class="txt">电话：13417414129 方鉴进&nbsp;&nbsp;&nbsp;13614516930 赵罡</p>
            <!--<address  class="txt">地址：深圳市</address>-->
        </li>
        <li>
            <h3 class="title">微信公众号</h3>
            <img src="static/images/frontend/app/erweima.jpg">
            <p class="intro">关于二维码的说明</p>
        </li>
    </ul>
    <p class="copyRight">&copy;Right 石竹运动</p>
</div>