<!DOCTYPE html>
<html>
<head>
    {% include "frontend/head.html" %}
    <link href="static/css/frontend/lib/jquery.toastmessage.css" type="text/css" rel="stylesheet">
    <link href="static/css/frontend/src/main.css" type="text/css" rel="stylesheet">
    <link href="static/css/frontend/src/icon.css" type="text/css" rel="stylesheet">
    <link href="static/css/frontend/src/list.css" type="text/css" rel="stylesheet">
    <script>
        var pageName="venue";
    </script>
</head>
<body>
<div class="container">

    {% include "frontend/header.html" %}
    <script type="text/template" id="sportsTpl">
        {@each results as r }
        <option value="${r.id}">${r.name}</option>
        {@/each}
    </script>

    <script type="text/template" id="resultTpl">
        {@if !noData}
            {@each results as r}
            <li>
                <a href="user/sites/${r.id}">
                    <img class="thumb" src="${r.pic}">
                    <div class="info">
                        <h3 class="title">${r.name}</h3>
                        <p class="intro">电话：${r.tel}<i class="tColor1" style="margin-left: 25%">收费：${r.price}元/小时</i></p>
                        <p class="intro">地址：${r.loc_state}${r.loc_city}${r.loc_country}${r.loc_address}</p>
                        <p class="intro ellipsis">特色：${r.features}</p>
                        <p class="intro ellipsis">描述：${r.intro}</p>
                    </div>
                </a>
            </li>
            {@/each}
        {@else}
        <li class="tColor1 noData">没有数据</li>
        {@/if}
    </script>


    <div class="section">
        <h2 class="singleTitle icon5">场馆</h2>
        <div class="searchContainer">
            <div class="columns">
                <label>名称</label>
                <input class="searchInputBox searchInputBox1" type="text" id="searchName">
            </div>
            <div class="columns">
                <label>项目</label>
                <select class="searchInputBox" id="searchCategory">
                    <option value="">所有</option>

                </select>
            </div>
            <div class="columns" id="selectGroup">
                <label>城市</label>
                <select class="searchInputBox province" id="province">
                </select>
                <select class="searchInputBox city" id="city">
                </select>
                <select class="searchInputBox area" id="area">
                </select>
            </div>
            <div class="columns">
                <button class="btn" id="searchBtn">搜 索</button>
            </div>
            {% if current_user.is_authenticated() %}
            <div class="columns">
                <a href="user/sites/create" class="btn">新建</a>
            </div>
            {% endif %}
        </div>
        <ul class="list2" id="myList">

        </ul>
        <!--<a class="more" href="#">分页</a>-->
    </div>

    {% include "frontend/footer.html" %}

</div>

{% include "frontend/loading.html" %}

<script src="static/js/frontend/lib/jquery-1.11.1.min.js"></script>
<script src="static/js/frontend/lib/jquery.cxselect.min.js"></script>
<script src="static/js/frontend/lib/jquery.toastmessage.js"></script>
<script src="static/js/frontend/lib/juicer-min.js"></script>
<script src="static/js/frontend/src/config.js"></script>
<script src="static/js/frontend/src/functions.js"></script>
<script src="static/js/frontend/src/venues.js"></script>
</body>
</html>