.icon1{
    background: url(../../../images/frontend/icons/icon1.png) no-repeat;
}
.icon2{
    background: url(../../../images/frontend/icons/icon2.png) no-repeat;
}
.icon3{
    background: url(../../../images/frontend/icons/icon3.png) no-repeat;
}
.icon4{
    background: url(../../../images/frontend/icons/icon4.png) no-repeat;
}
.icon5{
     background: url(../../../images/frontend/icons/icon5.png) no-repeat;
}
.icon6{
    background: url(../../../images/frontend/icons/icon6.png) no-repeat;
}
.icon7{
    background: url(../../../images/frontend/icons/icon7.png) no-repeat;
}
.icon8{
    background: url(../../../images/frontend/icons/icon8.png) no-repeat;
}
.icon9{
    background: url(../../../images/frontend/icons/icon9.png) no-repeat;
}
.iconVs{
    background: url(../../../images/frontend/icons/iconVs.png) no-repeat;
}
.iconDelete{
    background: url(../../../images/frontend/icons/iconDelete.png) no-repeat;
}
.iconGoal0{
    background: url(../../../images/frontend/icons/iconGoal1.png) no-repeat;
}
.iconGoal1{
    background: url(../../../images/frontend/icons/iconGoal2.png) no-repeat;
}
.iconGoal2{
    background: url(../../../images/frontend/icons/iconGoal3.png) no-repeat;
}

